[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python3 manage.py runserver 8001"
lint = "bash -c 'flake8 . && isort --check .'"
format = "bash -c 'autopep8 -i --exclude venv -r . && isort .'"
test  = "python3 manage.py test"
loaddata = "python3 manage.py loadalldata"
gradescraping = "python3 manage.py gradescraping"
makemigrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
collectstatic = "python3 manage.py collectstatic"
start = "uwsgi --ini uwsgi.ini &"
reload = "uwsgi --reload /tmp/master_uwsgi.pid"

[packages]
asgiref = "==3.3.4"
django-cors-headers = "==3.7.0"
django-environ = "==0.4.5"
djangorestframework = "==3.12.4"
jsonstreams = "==0.6.0"
pytz = "==2021.1"
selenium = "==3.141.0"
six = "==1.16.0"
sqlparse = "==0.4.1"
toml = "==0.10.2"
tqdm = "==4.60.0"
urllib3 = "==1.26.4"
Django = "==3.1.7"
uwsgi = "==2.0.20"
jsonschema = "==4.4.0"
webdriver-manager = "*"

[dev-packages]
mccabe = "==0.6.1"
autopep8 = "==1.5.7"
isort = "==5.10.1"
mypy = "==0.931"
flake8 = "==3.9.2"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"

[requires]
python_version = "3.8"
